/* Variables */
:root {
    /* Colors */
    --background-color: #FFFFFF;
    --dark-color: #424242;
    --blue-color: #4623FD;
    --grey-color: #7D7D7D;
    --light-grey-color: #F4F5F9;
    --text-color:var(--dark-color);
    /* Text style*/
    --heading-text:'Inter', sans-serif;
    --main-text: 'Inter', sans-serif;
    --description-text: 'Inter', sans-serif;
    /* Text size */
    --heading-one-size: 52px;
    --heading-two-size: 33px;
    --heading-three-size: 20px;
    --heading-four-size: 17px;

    --navigation-size: 20px;
    --mobile-navigation-size: 24px;
    --description-size: 22px;
    --micro-size: 16px;
    /* Buttons */
    --button-border: 2px solid var(--dark-color);
    --button-text: var(--description-text) 16px;
    --button-padding: 12px 32px;

    --button-hover-border: 2px solid var(--orange-color);
}
/* Overall tags */
body{
    all: unset;
    background: var(--background-color);
    color: var(--text-color);
    scroll-behavior: smooth;
}

h1{
    font-family: var(--heading-text);
    font-size: var(--heading-one-size);
    color: var(--dark-color);
    font-weight: 900;
    letter-spacing: -1.04px;
}

h2{
    font-family: var(--heading-text);
    font-size: var(--heading-two-size);
    color: var(--dark-color);
    font-weight: 900;
    letter-spacing: -1.04px;
}

h3{
    font-family: var(--heading-text);
    font-size: var(--heading-three-size);
    color: var(--dark-color);
    font-weight: 900;
    letter-spacing: -1.04px;
}

a{
    all: unset;
    font-family: var(--description-text);
    text-decoration: underline;
    color: var(--text-color);
    cursor: pointer;
    font-size: var(--heading-two-size);
    font-weight: 400;
    letter-spacing: -1.04px;
}

.container{
    margin: 30px;
}

.wrapper{
    margin-top: 30px;
}

/* MENU */

.menu{
    display: flex;
    flex-direction: column;
}
.menu-item{
    margin-top: 64px;
}

#chatbot-item{
    position: relative;
}

#chatbot-item::after{
    content: "new!";
    color: var(--blue-color);
    font-family: var(--description-text);
    font-weight: bold;
    font-size: var(--heading-three-size);
    position: absolute;
    bottom: 70%;
    right: -45px;
}

.bottom-image{
    display: flex;
    justify-content: center;
    margin-top: 250px;
}